---
import BasicHead from '@components/BasicHead.astro'
import MainLayout from '@layouts/MainLayout.astro'
import { getCollection } from 'astro:content'

const kiloToPound = (kilo: number) => (kilo * 2.205).toFixed()
const centiToFeet = (centi: number) => (centi * 0.03281).toFixed(1)
const getAge = (birthdayDate: string): string => {
    const now = new Date()
    const birthday = new Date(birthdayDate)

    const year = now.getFullYear() - birthday.getFullYear()
    const month = 12 - birthday.getMonth() + now.getMonth()

    return `${month < 12 ? year - 1 : year} years ${month} month`
}

const [{ data }] = await getCollection('personal')
---

<!doctype html>
<html>
    <BasicHead
        author="Akbar Sani Hasan"
        keywords={['Akbar', 'Sani', 'Hasan']}
        description="A villager equipped with programming skills always trying to prioritize performance, simplicity, freedom & collaboration."
        title="About"
    />
    <body>
        <MainLayout>
            <section class="profile">
                <h4 class="heading text-display">* General Profile</h4>
                <ul>
                    <li>
                        <div class="profile-list">
                            <span class="key text-bold">Full Name</span>
                            <span class="value">{data.full_name}</span>
                        </div>
                    </li>
                    <li>
                        <div class="profile-list">
                            <span class="key text-bold">Gender</span>
                            <span class="value">{data.gender}</span>
                        </div>
                    </li>
                    <li>
                        <div class="profile-list">
                            <span class="key text-bold">Birthday</span>
                            <span class="value"
                                >{
                                    new Date(data.birthday).toLocaleDateString(
                                        'en',
                                        {
                                            year: 'numeric',
                                            month: 'long',
                                            day: '2-digit',
                                        },
                                    )
                                }</span
                            >
                        </div>
                    </li>
                    <li>
                        <div class="profile-list">
                            <span class="key text-bold">Age</span>
                            <span class="value">{getAge(data.birthday)}</span>
                        </div>
                    </li>
                    <li>
                        <div class="profile-list">
                            <span class="key text-bold">Nationality</span>
                            <span class="value">{data.nationality}</span>
                        </div>
                    </li>
                    <li>
                        <div class="profile-list">
                            <span class="key text-bold">Ethnicity</span>
                            <span class="value">{data.ethnicity}</span>
                        </div>
                    </li>
                    <li>
                        <div class="profile-list">
                            <span class="key text-bold">Recidency</span>
                            <span class="value">{data.recidency}</span>
                        </div>
                    </li>
                    <li>
                        <div class="profile-list">
                            <span class="key text-bold">Hair Color</span>
                            <span class="value">{data.hair_color}</span>
                        </div>
                    </li>
                    <li>
                        <div class="profile-list">
                            <span class="key text-bold">Eye Color</span>
                            <span class="value">{data.eye_color}</span>
                        </div>
                    </li>
                    <li>
                        <div class="profile-list">
                            <span class="key text-bold">Height</span>
                            <span class="value"
                                >{data.height_cm}cm \ {
                                    centiToFeet(data.height_cm)
                                }ft</span
                            >
                        </div>
                    </li>
                    <li>
                        <div class="profile-list">
                            <span class="key text-bold">Weight</span>
                            <span class="value"
                                >{data.weight_kg}kg \ {
                                    kiloToPound(data.weight_kg)
                                }ft</span
                            >
                        </div>
                    </li>
                    <li>
                        <div class="profile-list">
                            <span class="key text-bold">Gamer Tag</span>
                            <span class="value">{data.gamer_tag}</span>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="overview">
                <h4 class="heading text-display">* Overview</h4>
                <p>
                    I am a villager equipped with programming skills always
                    trying to prioritize performance, simplicity, and
                    collaboration & freedom. Prioritizing performance is not
                    always easy and the fun part about programming but i believe
                    it's necessary and it will mold someone into better
                    programmer. Unecessary complexity are the roots of
                    unproductive software engineer and by glamorizing simplicity
                    i believe it's the way for developing software faster and
                    more predictable.
                </p>
            </section>
            <section class="personal">
                <h4 class="heading text-display">* Personal life</h4>
                <h5>Background</h5>
                <p>
                    I grew up in a village that aren't so rural because Pizza
                    Hut and KFC are probably 5 minute away on motorcycle. We
                    don't own computer until my second sister entered highscool,
                    we don't have wifi after i graduate my Vocational School.
                    That means jumping career in tech are a bit challenging, but
                    that's the fun part.
                </p>
                <h5>Educations</h5>
                <p>
                    I attend 4year Vocational School studying <i>Programming</i
                    >, <i>Computer Architecture</i>, <i>System as a Service</i>, <i
                        >Infrascturcture as a Service</i
                    >, <i>Platform as a Service</i> and <i>Cyber Security</i>.
                    That sounds like an ambitious school programs, and it's
                    true, the only subject that i could fully picked up is
                    programming because in the end it was all self thought and
                    there are many material i can worked with out there on the
                    internet than in school.
                </p>
                <h5>Hobby & Interest</h5>
                <h6>** Movie & TV Show</h6>
                <p>
                    I like watching movies and tv just like any normal human
                    being. Some of my favourite movies are the <span
                        ><a
                            target="_blank"
                            class="effect-underline"
                            href="https://en.wikipedia.org/wiki/Marvel_Cinematic_Universe"
                            >MCU
                        </a></span
                    >movies, some comedy movies and some horrors and some
                    memorable TV show such <span
                        ><a
                            target="_blank"
                            class="effect-underline"
                            href="https://en.wikipedia.org/wiki/Gravity_Falls"
                            >Gravity falls.</a
                        ></span
                    >
                </p>
                <h6>** Sports</h6>
                <p>
                    I am not a sports guy and i am not athletic, but lately i
                    have been interested in <i>Running</i> and <i
                        >Bodyweight exercise</i
                    > and looking forward to be consistent at it and also i have
                    been following the Formula 1 since 2023 season, i am cheering
                    for <span
                        ><a
                            target="_blank"
                            class="effect-underline"
                            href="https://williamsf1.com">Williams Racing</a
                        ></span
                    >, a fallen legend teams slowly climbing to regain their
                    dominance in the sports is quite satisfying to cheer.
                </p>
                <h6>** Gaming</h6>
                <p>
                    I am currently on hiatus from video games but i have played
                    several games in the past such <i>Far cry</i>, <i
                        >Call of duty: Modern warefare</i
                    >, and <i>Stardew valley</i> and some online mobile games but
                    i have fully given up on them long ago.
                </p>
                <h6>** More to follow</h6>
                <p>I have been interested in reading some books lately.</p>
            </section>
            <div class="proverb">
                <h6 class="text-display text-italic text-semibold">
                    "Tak kenal maka tak sayang"
                </h6>
            </div>
        </MainLayout>
    </body>
</html>

<style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding-bottom: 0.3em;
    }
    p {
        padding-bottom: 0.6em;
    }
    section h4.heading {
        padding: 0;
        padding-bottom: 0.4em;
        margin-bottom: 0.8em;
        border-bottom: 0.08em solid var(--fg);
    }
    section:not(:last-child) {
        padding-bottom: 0.4em;
    }
    section.profile ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    section.profile ul li .profile-list {
        display: flex;
        justify-content: space-between;
    }
    section.profile ul li {
        margin: 0.8em 0;
    }
    section.profile ul li .profile-list .key {
        padding-right: 1em;
    }
    section.profile ul li .profile-list .value {
        flex: 1;
        text-align: right;
    }
    .proverb {
        flex: 1;
        display: flex;
        align-items: end;
    }
    .proverb h6 {
        padding: 0;
        padding-top: 0.6em;
        border-top: 0.1em solid var(--fg);
        width: 100%;
    }
</style>
