---
import { getCollection } from 'astro:content'
import BasicHead from '@components/BasicHead.astro'
import MainLayout from '@layouts/MainLayout.astro'
import Project from '@components/Projects/Project.astro'

const experiences = await getCollection('experiences')
const projects = await getCollection('projects')
---

<!doctype html>
<html lang="en">
    <head>
        <BasicHead
            keywords={['Akbar', 'Sani', 'Hasan']}
            description="A villager equipped with programming skills always trying to prioritize performance, simplicity also i use arch and neovim btw."
            title="Akbar Sani Hasan"
        />
    </head>
    <body>
        <MainLayout>
            <section class="presentable">
                <p class="bio text-lg">
                    A villager equipped with programming skills always trying to
                    prioritize performance, simplicity, <span
                        class="text-lg text-bold text-italic"
                    >
                        collaboration & freedom,
                    </span>
                    also i use <span class="text-lg text-display text-italic"
                        >arch</span
                    > and
                    <span class="text-lg text-display text-italic">neovim</span>
                    btw.
                </p>
            </section>
            <section class="experiences">
                <h5 class="title text-bold">Experiences</h5>
                {
                    experiences.map(({ data }) => (
                        <div class="experience">
                            <div class="heading">
                                <span class="content instance">
                                    <a
                                        href={data.website}
                                        target="_blank"
                                        class="effect-underline text-bold"
                                    >
                                        {data.instance}
                                    </a>
                                </span>
                                <div class="info">
                                    <span class="content text-italic">
                                        {data.type}
                                    </span>
                                    <span class="content duration text-italic">
                                        {new Date(
                                            data.start,
                                        ).toLocaleDateString(undefined, {
                                            month: 'long',
                                            year: 'numeric',
                                        })}{' '}
                                        -{' '}
                                        {data.end
                                            ? new Date(
                                                  data.end,
                                              ).toLocaleDateString(undefined, {
                                                  month: 'long',
                                                  year: 'numeric',
                                              })
                                            : 'Present'}
                                    </span>
                                </div>
                            </div>
                            <p class="description">{data.description}</p>
                        </div>
                    ))
                }
            </section>
            <section class="projects">
                <div class="title">
                    <h5 class="text-bold">Projects</h5>
                    <a href="projects" class="text-bold effect-shine"> More </a>
                </div>
                {
                    projects
                        .slice(0, 2)
                        .map(({ id, data }) => <Project data={data} id={id} />)
                }
            </section>
        </MainLayout>
    </body>
</html>

<style>
    section {
        padding-bottom: 1.6em;
    }
    section.experiences .title {
        padding-bottom: 0.4em;
        border-bottom: 0.1em solid var(--fg);
    }
    section.experiences .experience {
        padding: 0.8em 0;
    }
    section.experiences .experience .heading {
        display: flex;
        flex-direction: column;
    }
    section.experiences .experience .heading .content {
        padding-bottom: 0.4em;
    }
    section.experiences .experience .heading .info {
        display: flex;
        justify-content: space-between;
    }
    section.experiences .experience .description {
        text-align: justify;
    }
    section.projects .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0.4em;
        border-bottom: 0.1em solid var(--fg);
    }
</style>
