---
import "../styles/global.css";

type Socials = { name: string; url: string }[];
const socials: Socials = [
    {
        name: "GitHub,",
        url: "https://github.com/akbarsanihasan",
    },
    {
        name: "Instagram.",
        url: "https://instagram.com/akbarsanihasan",
    },
];
type Projects = { name: string; url: string; category: string | string[] }[];
const projects: Projects = [
    {
        name: "Politikuang",
        url: "https://github.com/akbarsanihasan/politik-uang",
        category: "Application",
    },
    {
        name: "Wayang",
        url: "https://github.com/akbarsanihasan/punokawan",
        category: "Game Engine",
    },
];
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Akbar Sani Hasan</title>
    </head>
    <body>
        <div class="wrapper container">
            <header>
                <nav>
                    <ul>
                        <li><a href="" class="effect-shine">About,</a></li>
                        <li><a href="" class="effect-shine">Works,</a></li>
                        <li><a href="" class="effect-shine">Blogs.</a></li>
                    </ul>
                </nav>
                <ul class="socials">
                    {
                        socials.map((social) => (
                            <li>
                                <a href={social.url} class="effect-underline">
                                    {social.name}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </header>
            <main>
                <section class="presentable">
                    <div class="info">
                        <h1 class="text-3xl text-serif">Akbar Sani Hasan.</h1>
                        <p class="text-xl">
                            Software engineer focusing on performance,
                            simplicity, <span class="text-xl text-serif-italic"
                                >freedom</span
                            > & collaboration.
                        </p>
                        <div class="contacts">
                            <a
                                href="Resume.pdf"
                                target="_blank"
                                class="effect-underline">Resume,</a
                            >
                            <a href="" class="effect-underline"
                                >akbarsanihasan@gmail.com.</a
                            >
                        </div>
                    </div>
                </section>
                <section class="projects">
                    <div class="title">
                        <span>Projects</span>
                        <a href="" class="effect-underline">More</a>
                    </div>
                    <ul>
                        {
                            projects.map((project) => (
                                <li>
                                    <a href={project.url} class="effect-shine">
                                        {project.name}
                                    </a>
                                    <span> / </span>
                                    <a href={project.url} class="category">
                                        {project.category}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </section>
            </main>
        </div>
    </body>
</html>

<style>
    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    header {
        height: 20vh;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    header nav ul,
    header ul.socials {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }
    header nav ul li,
    header ul.socials li {
        margin-right: 0.6em;
    }
    header ul.socials {
        list-style: none;
    }
    header nav ul {
        justify-content: space-between;
    }
    main {
        flex: 1;
    }
    main section.presentable .info p {
        text-align: justify;
        margin: 0.3rem 0;
    }
    main section.presentable .info .contacts {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    main section.presentable .info .contacts a {
        margin-top: 0.6em;
    }
    main section.projects {
        margin-top: 4vh;
    }
    main section.projects .title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.6rem;
    }
    main section.projects .title span {
        font-weight: 600;
    }
    main section.projects ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    main section.projects ul li {
        display: flex;
    }
    main section.projects ul li:not(:last-child) {
        margin-bottom: 0.6rem;
    }
    main section.projects ul li a {
        text-decoration: none;
        flex: 1;
    }
    main section.projects ul li a.category {
        text-align: right;
    }
    @media screen and (min-width: 768px) {
        .wrapper {
            flex-direction: row;
            padding: 10vh 0;
        }
        header {
            height: unset;
            justify-content: space-between;
        }
        header nav ul,
        header ul.socials {
            flex-direction: column;
            align-items: end;
        }
        main {
            width: 100%;
            padding: 0 10vw;
        }
        main section.presentable .info .contacts {
            flex-direction: row;
        }
        main section.presentable .info .contacts a:not(:last-child) {
            margin-right: 0.6rem;
        }
    }
</style>
