---
import { getCollection } from 'astro:content'
import BasicHead from '@components/BasicHead.astro'
import MainLayout from '@layouts/MainLayout.astro'
import Project from '@components/Projects/Project.astro'

const experiences = await getCollection('experiences')
const projects = await getCollection('projects')
---

<!doctype html>
<html>
    <head>
        <BasicHead
            keywords={['Akbar', 'Sani', 'Hasan']}
            description="A villager equipped with programming skills always trying to prioritize performance, simplicity, freedom & collaboration."
        />
    </head>
    <body>
        <MainLayout>
            <section class="presentable">
                <p class="bio text-lg">
                    A villager equipped with programming skills always trying to
                    prioritize performance, simplicity, <span class="text-bold">
                        freedom
                    </span> & <span class="text-bold">collaboration</span>.
                </p>
            </section>
            <section class="experiences">
                <h5 class="title text-bold text-display">Experiences</h5>
                {
                    experiences.map(({ data }) => (
                        <div class="experience">
                            <div class="info">
                                <div class="duration content">
                                    <span class="duration text-italic">
                                        {new Date(
                                            data.start,
                                        ).toLocaleDateString('en', {
                                            month: 'long',
                                            year: 'numeric',
                                        })}
                                    </span>
                                    <span> - </span>
                                    <span class="duration text-italic">
                                        {data.end
                                            ? new Date(
                                                  data.end,
                                              ).toLocaleDateString('en', {
                                                  month: 'long',
                                                  year: 'numeric',
                                              })
                                            : 'Present'}
                                    </span>
                                </div>
                                <span class="content text-italic">
                                    {data.type}
                                </span>
                            </div>
                            <div class="instance">
                                <span class="content text-bold">
                                    <a
                                        href={data.website}
                                        target="_blank"
                                        class="effect-underline"
                                    >
                                        {data.instance}
                                    </a>
                                </span>
                            </div>
                            <p class="description">{data.description}</p>
                        </div>
                    ))
                }
            </section>
            <section class="projects">
                <div class="title">
                    <h5 class="text-bold text-display">Projects</h5>
                    <a href="projects" class="text-bold effect-shine">More</a>
                </div>
                {
                    projects
                        .slice(0, 2)
                        .map(({ id, data }) => <Project data={data} id={id} />)
                }
            </section>
            <div class="quote">
                <div class="quote-block">
                    <h6 class="text-display text-italic text-semibold">
                        i use arch and neovim btw.
                    </h6>
                </div>
            </div>
        </MainLayout>
    </body>
</html>

<style>
    section {
        padding-bottom: 1em;
    }
    section.experiences .title {
        padding-bottom: 0.4em;
        border-bottom: 0.1em solid var(--fg);
    }
    section.experiences .experience {
        padding: 0.6em 0;
    }
    section.experiences .experience .info {
        display: flex;
        flex-direction: column;
    }
    section.experiences .experience .instance,
    section.experiences .experience .info .content {
        padding-bottom: 0.3em;
    }
    section.experiences .experience .description {
        text-align: justify;
    }
    section.projects .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0.4em;
        border-bottom: 0.1em solid var(--fg);
    }
    .quote {
        flex: 1;
        display: flex;
        align-items: end;
        padding: 0;
    }
    .quote .quote-block {
        width: 100%;
        padding-top: 0.3em;
        border-top: 0.1em solid var(--fg);
    }
    @media screen and (min-width: 1024px) {
        section.experiences .experience .info {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
</style>
