---
import '../styles/global.css'
import BasicMeta from '../components/BasicMeta.astro'

const publicEmail = 'akbarsanihasan@gmail.com'

type Socials = { name: string; url: string }[]
const socials: Socials = [
    {
        name: 'GitHub,',
        url: 'https://github.com/akbarsanihasan',
    },
    {
        name: 'Instagram.',
        url: 'https://instagram.com/akbarsanihasan',
    },
]
type Projects = { name: string; url: string; category: string | string[] }[]
const projects: Projects = [
    {
        name: 'Politikuang',
        url: 'https://github.com/akbarsanihasan/politik-uang',
        category: 'Application',
    },
    {
        name: 'Wayang',
        url: 'https://github.com/akbarsanihasan/punokawan',
        category: 'Game Engine',
    },
]
const BlogpostPlaceholder = [
    {
        title: 'Some Descriptive title',
        excerpt:
            'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, suscipit excepturi? Similique tempora odio sint, asperiores repudiandae quaerat.',
        url: '/blogs/some',
        readtime: '10min',
        date: new Date().toDateString(),
    },
    {
        title: 'Some Descriptive title',
        excerpt:
            'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, suscipit excepturi? Similique tempora odio sint, asperiores repudiandae quaerat.',
        url: '/blogs/some',
        readtime: '10min',
        date: new Date().toDateString(),
    },
]
---

<!doctype html>
<html lang="en">
    <head>
        <BasicMeta
            author="Akbar Sani Hasan"
            keywords={['Akbar', 'Sani', 'Hasan']}
            description="Software engineer focusing on performance, simplicity, freedom and colaboration"
        />
        <title>Akbar Sani Hasan</title>
    </head>
    <body data-baseurl={Astro.url}>
        <div class="wrapper container">
            <header>
                <nav>
                    <ul>
                        <li>
                            <a href="/about" class="effect-shine">About,</a>
                        </li>
                        <li>
                            <a href="/works" class="effect-shine">Works,</a>
                        </li>
                        <li>
                            <a href="/blogs" class="effect-shine">Blogs.</a>
                        </li>
                    </ul>
                </nav>
                <ul class="socials">
                    {
                        socials.map((social) => (
                            <li>
                                <a href={social.url} class="effect-underline">
                                    {social.name}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </header>
            <main>
                <section class="presentable">
                    <h1 class="text-4xl text-serif">Akbar Sani Hasan.</h1>
                    <p class="text-xl">
                        Software engineer focusing on <br />performance,
                        simplicity, <span class="text-xl text-serif-italic"
                            >freedom</span
                        > & collaboration.
                    </p>
                    <div class="contacts">
                        <a
                            id="email"
                            data-email={publicEmail}
                            target="_blank"
                            class="effect-underline">Email,</a
                        >
                        <a
                            href="Resume.pdf"
                            target="_blank"
                            class="effect-underline">Resume.</a
                        >
                    </div>
                </section>
                <section class="projects">
                    <div class="title text-lg">
                        <span class="text-lg">Projects</span>
                        <a href="" class="text-lg effect-underline">More</a>
                    </div>
                    <ul>
                        {
                            projects.map((project) => (
                                <li>
                                    <a href={project.url} class="effect-shine">
                                        <span>{project.name} </span>
                                        <span> / </span>
                                        <span>{project.category}</span>
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </section>
                <section class="blogs">
                    <div class="title">
                        <span class="text-lg">Blogs</span>
                        <a href="" class="text-lg effect-underline">More</a>
                    </div>
                    {
                        BlogpostPlaceholder.map((blog) => {
                            return (
                                <a class="blog effect-shine">
                                    <span class="title">{blog.title}</span>
                                    <div class="meta">
                                        <span class="text-sans-italic">
                                            {blog.date}
                                        </span>
                                        <span class="text-sans-italic">/</span>
                                        <span class="text-sans-italic">
                                            {blog.readtime}
                                        </span>
                                    </div>
                                    <p>{blog.excerpt}</p>
                                </a>
                            )
                        })
                    }
                </section>
            </main>
        </div>
    </body>
</html>

<style>
    .wrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    header {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        min-height: 8em;
    }
    header nav ul,
    header ul.socials {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }
    header nav ul li,
    header ul.socials li {
        margin-right: 0.8em;
    }
    header ul.socials {
        list-style: none;
    }
    header nav ul,
    header ul.socials {
        justify-content: space-between;
    }
    main {
        flex: 1;
        overflow: scroll;
        scrollbar-width: none;
    }
    main section.presentable h1,
    main section.presentable p {
        margin-bottom: 0.1em;
    }
    main section.presentable .contacts {
        display: flex;
        align-items: start;
        flex-wrap: wrap;
    }
    main section.presentable .contacts a {
        margin: 0.6em 0.6em 0 0;
    }
    main section.blogs,
    main section.projects {
        margin-top: 2em;
    }
    main section.blogs .title,
    main section.projects .title {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
    }
    main section.projects ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    main section.projects ul li a {
        margin: 0.8em 0;
        display: flex;
        justify-content: space-between;
    }
    main section.blogs .blog {
        padding: 0.8rem 0;
    }
    main section.blogs .blog .meta {
        display: flex;
        justify-content: space-between;
        padding: 0.6rem 0;
    }
    @media screen and (min-width: 1024px) {
        .wrapper {
            flex-direction: row;
            padding: 3.5em 0;
        }
        header {
            width: 10%;
            justify-content: space-between;
        }
        header nav ul,
        header ul.socials {
            flex-direction: column;
            align-items: end;
        }
        header nav ul li,
        header ul.socials li {
            margin-right: 0em;
        }
        main {
            padding: 0 6em;
        }
    }
</style>

<script>
    interface EmailActionElement extends HTMLAnchorElement {
        dataset: {
            email: string
        }
    }

    const email = document.getElementById('email') as EmailActionElement
    email.addEventListener('click', function () {
        navigator.clipboard.writeText(this.dataset.email as string).then(() => {
            window.open('email', '_blank')
        })
    })
</script>
