---
import { getCollection } from 'astro:content'
import BasicHead from '@components/BasicHead.astro'
import MainLayout from '@layouts/MainLayout.astro'
import Project from '@components/Projects/Project.astro'

const experiences = await getCollection('experiences')
const projects = await getCollection('projects')
---

<!doctype html>
<html>
    <head>
        <BasicHead
            keywords={['Akbar', 'Sani', 'Hasan']}
            description="A villager equipped with programming skills always trying to prioritize performance, simplicity, freedom & collaboration."
        />
    </head>
    <body>
        <MainLayout>
            <section class="presentable">
                <p class="bio text-lg text-display">
                    A villager equipped with programming skills always trying to
                    prioritize performance, simplicity, <em class="text-bold">
                        freedom
                    </em> & <em class="text-bold">collaboration</em>.
                </p>
            </section>
            <section class="experiences">
                <h4 class="title text-extrabold text-display">Experiences</h4>
                {
                    experiences.map(({ data }) => (
                        <div class="experience">
                            <div class="info">
                                <span class="content">{data.type}</span>
                                <div class="content">
                                    <span class="duration text-italic">
                                        {new Date(
                                            data.start,
                                        ).toLocaleDateString('en', {
                                            month: 'long',
                                            year: 'numeric',
                                        })}
                                    </span>
                                    <span> - </span>
                                    <span class="duration text-italic">
                                        {data.end
                                            ? new Date(
                                                  data.end,
                                              ).toLocaleDateString('en', {
                                                  month: 'long',
                                                  year: 'numeric',
                                              })
                                            : 'Present'}
                                    </span>
                                </div>
                            </div>
                            <div class="instance">
                                <h6 class="content">
                                    <a
                                        href={data.website}
                                        target="_blank"
                                        class="effect-underline"
                                    >
                                        {data.instance}
                                    </a>
                                </h6>
                            </div>
                            <p class="description">{data.description}</p>
                        </div>
                    ))
                }
            </section>
            <section class="projects">
                <h4 class="title text-extrabold text-display">Projects</h4>
                {
                    projects
                        .slice(0, 2)
                        .map(({ id, data }) => <Project data={data} id={id} />)
                }
            </section>
            <div class="quote">
                <div class="quote-block">
                    <h6 class="text-display text-italic text-semibold">
                        i use arch and neovim btw.
                    </h6>
                </div>
            </div>
        </MainLayout>
    </body>
</html>

<style>
    section {
        padding-bottom: 1em;
    }
    section.presentable > p {
        padding-bottom: 0.6em;
        margin-bottom: 0.3em;
        border-bottom: 0.1em solid var(--fg);
    }
    section.experiences .experience {
        padding: 0.6em 0;
        display: flex;
        flex-direction: column;
    }
    section.experiences .experience .instance,
    section.experiences .experience .info .content {
        padding-bottom: 0.4em;
    }
    section.experiences .experience .info {
        order: 2;
        display: flex;
        flex-direction: column;
    }
    section.experiences .experience .instance {
        order: 1;
        font-style: normal;
    }
    section.experiences .experience .description {
        order: 3;
    }
    .quote {
        flex: 1;
        display: flex;
        align-items: end;
        padding: 0;
    }
    .quote .quote-block {
        width: 100%;
        padding-top: 0.3em;
        border-top: 0.1em solid var(--fg);
    }
    @media screen and (min-width: 1024px) {
        section.presentable .bio {
            text-align: justify;
        }
        section.experiences .experience .info {
            order: 0;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        section.experiences .experience .instance {
            order: 0;
        }
        section.experiences .experience .description {
            order: 0;
            text-align: justify;
        }
    }
</style>
